<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/profile.css">
<h1><%= title %></h1>
<%if(locals.user){%>
    <div class="all_creators">
        <% for(let user of all_users){ %>
            <% if(user._id!=locals.user.id){ %>
                <div class="creator">
                    <a href="/donations/d/?id=<%= user.id %>"><img src="https://source.unsplash.com/random/520x600/?fitness,fruit,technology" alt="https://unsplash.com/photos/EVQ27AXRkVA"></a>
                    <div class="profileContentContainer">
                        <a href="/donations/d/?id=<%= user.id %>">
                            <div class="imageContent">
                                <p><%= user.username %></p>
                                <span><%= user.profession %></span>
                            </div>
                        </a>
                        <div class="like">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                </div>
            <%}%>
        <%}%>
    </div>
<%}%>